@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
 font-family: "Roboto", sans-serif;
 background-color:rgba(196, 116, 160, 0.534);
}

/****DESKTOP****/
/* @media (min-width: 1024px){ */
/* SECCIÓN HEADER */
#cabeza {
    background-image: linear-gradient(to right, #3eadcf, #abe9cd);
    height: 60px;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    margin: 0;
    width: 100%;
    list-style: none;
}

ul li {
    font-size: 22px;
    list-style-type: none;
    margin: 0.2em 0.7em 0 0.7em;
    padding: 0.5rem;
    cursor: pointer;
}

ul li a {
    list-style-type: none !important;
    text-decoration: none;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

/* ÍCONO SUBIR */

.subir {
    position: absolute;
    top: 75%;
    left: 90%;
}

.iconoSubir {
    height: 55px;
    width: 55px;
    z-index: 1;
    position: fixed;
}

/* SECCIÓN INICIO */
#inicio {
    display: flex;
    justify-content: center;
}

#inicio img{
    width: 100%;
    height: 680px;
    position: relative;
}

#inicio h1 {
    position: absolute;
    z-index: 1;
    text-align: center;
    /* font-weight: 700; */
    font-size: 4.5rem;
    font-family: 'Kanit', sans-serif;
    width: 700px;
}

#carouselExampleIndicators {
    width: 50%;
}

.max {
    max-height: 450px;
}

.texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.texto h2 {
    font-size: 35px;
    margin: 20px;
    background-color: rgb(219, 203, 203);
}

p {
    text-align: center;
    font-size: 23px;
    margin: 20px 40px;
    max-width: 500px;
}

.titulos {
    font-size: 40px;
    text-align: center;
    margin: 100px 200px;
}

/* SECCIÓN SOBRE MUNDO MASCOTAS */
#sobremm {
    display: flex;
    justify-content: center;
    flex-direction: row;
}



p {
    text-align: center;
    font-size: 23px;
    margin: 20px 40px;
    max-width: 500px;
}

/* SECCIÓN ADOPTAR */

#adoptar div .titulos {
    margin: 100px 200px 50px 200px;
}

#cantidadMascotas {
    margin: 4% 30%;
}

#cartasMascotas {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
}

#cartasMascotas div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 20px;
    width: 220px;
}

.swal2-confirm {
    margin: 10px !important;
}

.swal2-cancel {
    margin: 10px !important;
}


h3 {
    font-size: 30px;
    text-align: center;
}

.seccionMascotas {
    background: linear-gradient(90deg, #DD95F7 0%, #7AADF9 50%, #7FC9D9 100%);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seccionMascotas:hover {
    background: linear-gradient(90deg, #7FC9D9 0%, #7AADF9 50%,  #DD95F7 100%);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seccionMascotas label {
    font-size: 22px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

/* SECCIÓN DONAR */
#cartasObjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cartasObjetos div {
    /* width: 198px; */
    /* border: 1px solid black; */
    margin: 10px;
    /* width: 250px; */
}

.card img {
    width: 100%;
    max-height: 280px;
    max-width: 240px;
}

.card-title {
    text-align: center;
}

.card:hover {
    background-color: rgba(131, 121, 121, 0.185) !important;
}

.card {
    width: 240px;
    background-color: beige !important;
}

.card .card-body p {
    margin: 5px;
    font-size: 18px;
}

.card .card-body button {
    margin-top: 10px;
}

#donacionSinDestino {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    margin: 15px;
    max-width: 240px;
    border: rgba(0, 0, 0, 0.185) 1px solid;
}

#donacionSinDestino label {
    font-size: 20px;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
}

#donacionSinDestino input {
    font-size: 17px;
    text-align: center;
    margin: 10px 0px;
}

/*Carrito*/

.carrito {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.carrito h4 {
    margin-left: 25%;
    margin-bottom: 3%;
}

th button {
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 0px;
    text-align: center;
    font-weight: bold;
}

/* SECCIÓN SERVICIO DE PASEO */
.paseo form label {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 1%;
}

.paseo form select {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
    /* margin: 1%; */
}

.paseo form input {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 1% 2%;
}

.cartaPaseadores {
    /* background-color: rgb(175, 85, 85);
    min-height: 400px; */
    display: flex;
    justify-content: space-evenly;
    margin: 1% 2% 2% 2%;
}

.cartaPaseadores img {
    min-height: 200px;
}

.cartaPaseadores:hover {
    opacity: 1 !important;
}

.cartaSinPaseadores {
    margin: 2%;
}

.cartaSinPaseadores:hover {
    opacity: 1;
}

/* SECCIÓN FOOTER */
#pie {
    height: 4rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pie address {
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
}

/****TABLET****/
/* @media (min-width: 481px) and (max-width: 1023px) {
    #cabeza {
        background-image: linear-gradient(to right, #3eadcf, #abe9cd)
    }
    
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    ul li {
        font-size: 20px;
        list-style-type: none;
        margin: 0.5em;
        padding: 0.4rem;
    } 
}

/****SMARTPHONE****
@media (max-width: 480px) {
    #cabeza {
        background-image: linear-gradient(to right, #3eadcf, #abe9cd)
    }
    
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    ul li {
        font-size: 15px;
        list-style-type: none;
        margin: 0.4em;
        padding: 0.3rem;
    } 
}
 */
