@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
 font-family: "Roboto", sans-serif;
 background-color:antiquewhite;
}

/****DESKTOP****/
@media (min-width: 1024px){

#cabeza {
    background-image: linear-gradient(to right, #3eadcf, #abe9cd);
    height: 60px;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

ul li {
    font-size: 25px;
    list-style-type: none;
    margin: 0.2em 0.7em 0 0.7em;
    padding: 0.5rem;
}

ul li a {
    list-style-type: none !important;
    text-decoration: none;
    color: black;
}

#inicio {
    display: flex;
    justify-content: center;
}

#inicio img{
    width: 100%;
    height: 680px;
    position: relative;
}

#inicio h1 {
    position: absolute;
    z-index: 1;
    text-align: center;
    /* font-weight: 700; */
    font-size: 4.5rem;
    font-family: 'Kanit', sans-serif;
    width: 700px;
}

#carouselExampleIndicators {
    width: 50%;
}

.max {
    max-height: 450px;
}

.texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.texto h2 {
    font-size: 35px;
    margin: 20px;
    background-color: rgb(219, 203, 203);
    max-width: 550px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 23px;
    margin: 20px 40px;
    max-width: 500px;
}

#sobremm {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.titulos {
    font-size: 40px;
    text-align: center;
    background-color: rgb(219, 203, 203);
    display: flex;
    align-items: center;
    margin: 100px 200px;
}

h4 {
    font-size: 35px;
    margin: 15px;
    background-color: rgb(219, 203, 203);
    max-width: 550px;
    text-align: center;
}

b {
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 23px;
    margin: 20px 40px;
    max-width: 500px;
}

#cartasMascotas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#cartasMascotas div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    box-sizing: border-box;
    margin: 40px;
    width: 220px;
}

#cartasMascotas div img {
    width: 300px;
    height: 300px;
    width: 100%;
}

#botonAdoptar1,
#botonAdoptar2,
#botonAdoptar3,
#botonAdoptar4,
#botonAdoptar5,
#botonAdoptar6,
#botonAdoptar7 {
    font-size: 20px;
    text-align: center;
    border: 0.25px solid black;
    width: 100%;
}

#botonAdoptar1:hover,
#botonAdoptar2:hover,
#botonAdoptar3:hover,
#botonAdoptar4:hover,
#botonAdoptar5:hover,
#botonAdoptar6:hover,
#botonAdoptar7:hover {
    font-size: 20px;
    text-align: center;
    background-color: rgba(43, 141, 187, 0.76);
    color: #fff;
    border: 0.25px solid black;
    width: 100%;
}

h3 {
    font-size: 30px;
    text-align: center;
}

#cartasObjetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#cartasObjetos div {
    width: 198px;
    border: 1px solid black;
    margin: 20px 40px;
    /* height: 485px;
    display: flex;
    flex-direction: column;
    align-content: space-between; */
}

#cartasObjetos div img {
    width: 100%;
}

#cartasObjetos div .unidad {
    text-align: center;
    font-size: 15px;
    margin: 20px 40px;
}

#cartasObjetos div button {
    width: 100%;
}

}

/****TABLET****/
@media (min-width: 481px) and (max-width: 1023px) {
    #cabeza {
        background-image: linear-gradient(to right, #3eadcf, #abe9cd)
    }
    
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    ul li {
        font-size: 20px;
        list-style-type: none;
        margin: 0.5em;
        padding: 0.4rem;
    } 
}

/****SMARTPHONE****/
@media (max-width: 480px) {
    #cabeza {
        background-image: linear-gradient(to right, #3eadcf, #abe9cd)
    }
    
    ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    ul li {
        font-size: 15px;
        list-style-type: none;
        margin: 0.4em;
        padding: 0.3rem;
    } 
}

